---
# This is a sample database file for the CouchRest ORM
:development: &defaults
  :database_prefix: 
  :database_suffix: _dev
  :database: ortho_share
  :host: localhost
  :port: 27017

:test:
  <<: *defaults
  :database_suffix: _test

:production:
  <<: *defaults
