#block-forms.block
  .content
    %h2 Vous n'etes pas activé

    .inner
      %p 
        Désolé pour pouvoir acceder à ce site
        il faut avoir été activé par un administrateur.

      %p un peu de patience.
